<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li routerLinkActive="active" class="tab"><a routerLink="" class="active">Home</a></li>
            <li routerLinkActive="active" class="tab"><a routerLink="/restaurants-types">Tipo de Restaurante</a></li>
            <li routerLinkActive="active" class="tab"><a routerLink="/restaurantes">Restaurantes</a></li>
            <li routerLinkActive="active" class="tab"><a routerLink="/pratos">Pratos</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>